<div class="blog-post-card">
    <div class="card-img" style="background-image: url({{thumbnail}});"></div>
    <p class="card-title">{{title}}</p>
    <p class="card-subtitle">{{'user.name'}}</p> 
</div>