<div class="card mt-3 col-sm-10 col-md-10 col-lg-7">
  <div class="card-body">
    <a href="/user/{{'user.id'}}" class="fs-5 green-link">{{'user.name'}}</a>
    <p>{{text}}</p>
    <small class="text-body-secondary">{{format_date date_created}}</small>
  </div>
</div>