<nav class="navbar bg-body-tertiary mb-3">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">Tech Blog</a>
    {{#if loggedIn}}
    <a class="btn btn-outline-success" href="/login">Login</a>
    {{/if}}

    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>