<nav class="navbar bg-body-tertiary mb-3">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">Tech Blog</a>
    {{#if loggedIn}}
    <a class="btn btn-outline-dark" href="/dashboard">Dashboard</a>
    <btn class="logout-btn btn btn-outline-dark">Logout</btn>
    <a href="/blogpost/new" class="btn btn-primary">Write</a>
    {{else}}
    <a class="btn btn-outline-primary" href="/login">Login</a>
    {{/if}}
  </div>
</nav>