<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Stackology</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

    {{!-- Google Fonts --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap" rel="stylesheet">

    {{!-- Bootstrap --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    
    {{!-- My Styles --}}
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        {{#unless noNav}}
            {{> nav this}}
        {{/unless}}
    </header>

    <main>
        {{{body}}}
    </main>

    <footer class="container mt-5 pt-3 pb-3">
        <div class="m-auto d-flex justify-content-center">
            <span class="text-center">Made by&nbsp;</span>
            <a class="green-link" href="https://github.com/jacob-medina" target="_blank">Jacob Medina</a>
        </div>
    </footer>

    {{!-- jQuery --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

    {{!-- Login Script --}}
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    <script src="/js/dashboard.js"></script>
    <script src="/js/comment.js"></script>
    {{else}}
    <script src="/js/login.js"></script>
    {{/if}}

    {{#if writeBlog}}
    <script src="/js/writeBlog.js"></script>
    {{/if}}

</body>
</html>