<section class="container">
    <header class="d-flex flex-column align-items-center mb-5">
        <h1 class="logo">
            <i class="bi bi-stack"></i>
            Stackology
        </h1>
        <p class="fs-2 mt-4 mb-4 text-center">Learn from the best.</p>
        <p class="fs-3 text-center fs-4 text-body-secondary">Interact with the fullstack community today.</p>
        {{#unless loggedIn}}
        <a href="/login" class="btn btn-lg btn-primary mt-3 mb-3">
            <i class="bi bi-pencil-square"></i>
            &nbsp;Write a Post
        </a>
        {{/unless}}
    </header>

    {{> blogPostGrid}}
</section>