<h1>Login</h1>

<form id="login-form">
    <div class="mb-3">
        <label for="login-email-input" class="form-label">Email address</label>
        <input type="email" class="form-control" id="login-email-input">
    </div>

    <div class="mb-3">
        <label for="login-password-input" class="form-label">Password</label>
        <input class="form-control" id="login-password-input" type="password">
    </div>

    <div class="mb-3">
        <input class="btn btn-primary" id="login-password-input" type="submit">
    </div>


</form>