:root {
    --text-color: black;
    --text-light: rgb(49, 49, 49);
    --shadow-color: #00000022;
    --green: #00B050;
    --green-darker: #009543;
    --green-darkest: #00873d;
}

body {
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
}

main {
    min-height: 50vh;
}

nav {
    background-color: transparent;
}

.navbar-brand, .navbar-brand:visited {
    color: var(--green);
}

.navbar-brand:hover, .navbar-brand:focus {
    color: var(--green-darker);
}

.navbar-brand:active {
    color: var(--green-darkest);
}

.btn-primary, .btn-primary:visited {
    background-color: var(--green) !important;
    border: none;
}

.btn-primary:hover, .btn:focus {
    background-color: var(--green-darker) !important;
}

.btn-primary:active {
    background-color: var(--green-darkest) !important;
}

.btn-outline-primary {
    background-color: transparent;
    color: var(--green);
    border-color: var(--green);
}

.btn-outline-primary:hover, .btn-outline-primary:focus {
    background-color: var(--green-darker);
    color: white;
    border-color: var(--green-darker);
}

.btn-outline-primary:active {
    background-color: var(--green-darkest);
    color: white;
    border-color: var(--green-darkest);
}

.blog-post-card {
    margin: 10px;

    overflow: hidden;

    box-shadow: 0px 2px 10px var(--shadow-color);
    transition: 0.3s;
}

.blog-post-card:hover {
    box-shadow: 0px 5px 8px var(--shadow-color);
    cursor: pointer;
}

.blog-post-card:hover .card-img-top {
    object-position: 50% 40%;
    transition: 0.3s;
}

.blog-post-card .card-img-top {
    width: 100%;
    height: 200px;

    object-fit: cover;
    transition: 0.3s;
}

.card-title {
    font-size: 1.5rem;
    width: 100%;
    font-weight: bold;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.blog-post-card a {
    color: var(--text-color);
    text-decoration: none;
}

.green-link {
    text-decoration: none;
    color: var(--green) !important;
    font-weight: bold;
}

.green-link:hover {
    color: var(--green-darker) !important;
}

.card-author span {
    color: gray;
}

.article-thumbnail {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

article {
    font-size: 1.2rem;
    line-height: 2.5;
}

#blog-title,
#blog-thumbnail {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid gray;
}

#blog-title {
    font-size: x-large;
}

#blog-content {
    display: block;
    border: none;
    border-radius: 0;
    resize: none;
    overflow: hidden;
}

#thumbnail {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#new-comment {
    width: 100%;
    border: none;
}